@model StarWars2.Models.StarSystem

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>

    <div>
        <h4>StarSystem</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.XCoordinate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.XCoordinate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.YCoordinate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.YCoordinate)
            </dd>
        </dl>
    </div>
    <div>*@

@*@if (Model.Planet.Count() > 0)
{
    maxPlanets = 
}*@

    <body class="StarSystemDetail">

        <table class="DisplayGrid">

            <tr>
                <td>
                    <img src='@Model.Stars[0].StarType.ImageSource' title="@Model.Stars[0].Name" />
                </td>

                @for (int x = 0; x < Model.Planet.Count(); x++)
                {
                    <td>
                        <img  src='@Model.Planet[x].PlanetType.ImageSource' title="@Model.Planet[x].PlanetType.Name"/>
                    </td>
                }
            </tr>






        </table>

    </body>